#container{
	width:100%;
}

#grid, #controls, #buttons{
	margin: 0 auto;
}

#controls{
	width:50%;
}

#buttons{
	width:400px;
}

.sketchBox{
	background-color: black;
	display: inline-block;
	margin: 1px; 
};



